In [1]:
%matplotlib inline

In [2]:
import pandas as pd
import numpy as np

In [3]:
# Load data
timeline = pd.read_csv('timeline.csv', sep='\t')
co2_26 = pd.read_csv('CleanedData/CO2Emissions/CO2EmissionsWithRCP2.6.csv')
co2_85 = pd.read_csv('CleanedData/CO2Emissions/CO2EmissionsWithRCP8.5.csv')
land_26 = pd.read_csv('CleanedData/LandUse/LandUseWithRCP2.6.csv')
land_85 = pd.read_csv('CleanedData/LandUse/LandUseWithRCP8.5.csv')
population_26 = pd.read_csv('CleanedData/Population/PopulationWithRCP2.6.csv')
population_85 = pd.read_csv('CleanedData/Population/PopulationWithRCP8.5.csv')

In [4]:
# per data type aggregation
base = population_26['population'][0]
population_26['p_change_26'] = population_26['population']/base

base = population_85['population'][0]
population_85['p_change_85'] = population_85['population']/base

total_land= (land_26['land_area']+land_26['natural_land'])[0]
land_26['land_percent_26'] = land_26['land_area'] / total_land
land_85['land_percent_85'] = land_85['land_area'] / total_land

base = co2_26['CO2Emissions'][0]
co2_26['co2_change_26'] = co2_26['CO2Emissions'] / base

base = co2_85['CO2Emissions'][0]
co2_85['co2_change_85'] = co2_85['CO2Emissions'] / base

land_26 = land_26.rename(columns = {'land_area': 'land_26'})
land_85 = land_85.rename(columns = {'land_area': 'land_85'})
population_26 = population_26.rename(columns = {'population': 'population_26'})
population_85 = population_85.rename(columns = {'population': 'population_85'})
co2_26 = co2_26.rename(columns = {'CO2Emissions':'co2_26'})
co2_85 = co2_85.rename(columns = {'CO2Emissions':'co2_85'})

     year  CO2Emissions  co2_change_85
0    1880    236.000000       1.000000
1    1881    243.000000       1.029661
2    1882    256.000000       1.084746
3    1883    272.000000       1.152542
4    1884    275.000000       1.165254
5    1885    277.000000       1.173729
6    1886    281.000000       1.190678
7    1887    295.000000       1.250000
8    1888    327.000000       1.385593
9    1889    327.000000       1.385593
10   1890    356.000000       1.508475
11   1891    372.000000       1.576271
12   1892    374.000000       1.584746
13   1893    370.000000       1.567797
14   1894    383.000000       1.622881
15   1895    406.000000       1.720339
16   1896    419.000000       1.775424
17   1897    440.000000       1.864407
18   1898    465.000000       1.970339
19   1899    507.000000       2.148305
20   1900    534.000000       2.262712
21   1901    552.000000       2.338983
22   1902    566.000000       2.398305
23   1903    617.000000       2.614407
24   1904    624.000000       2.644068
25   1905    663.000000       2.809322
26   1906    707.000000       2.995763
27   1907    784.000000       3.322034
28   1908    750.000000       3.177966
29   1909    785.000000       3.326271
..    ...           ...            ...
171  2051  20560.640587      87.121358
172  2052  20916.865189      88.630785
173  2053  21272.076417      90.135917
174  2054  21624.676884      91.629987
175  2055  21973.069203      93.106225
176  2056  22315.655985      94.557864
177  2057  22650.839843      95.978135
178  2058  22977.023390      97.360269
179  2059  23292.609238      98.697497
180  2060  23596.000000      99.983051
181  2061  23885.952535     101.211663
182  2062  24162.640692     102.384071
183  2063  24426.592570     103.502511
184  2064  24678.336263     104.569221
185  2065  24918.399871     105.586440
186  2066  25147.311488     106.556405
187  2067  25365.599213     107.481353
188  2068  25573.791142     108.363522
189  2069  25772.415372     109.205150
190  2070  25962.000000     110.008475
191  2071  26143.002273     110.775433
192  2072  26315.596041     111.506763
193  2073  26479.884304     112.202900
194  2074  26635.970062     112.864280
195  2075  26783.956315     113.491340
196  2076  26923.946062     114.084517
197  2077  27056.042304     114.644247
198  2078  27180.348041     115.170966
199  2079  27296.966273     115.665111
200  2080  27406.000000     116.127119

[201 rows x 3 columns]

In [9]:
# Merge into single data file
cols = ['Year', 'Seconds', 'land_26', 'land_percent_26']
df0=timeline.merge(land_26, left_on='Year', right_on = 'year', how='left')[cols]

cols.append('land_85'); cols.append('land_percent_85')
df1 = df0.merge(land_85, left_on='Year', right_on = 'year', how='left')[cols]

cols.append('population_26'); cols.append('p_change_26')
df1 = df1.merge(population_26, left_on='Year', right_on = 'year', how='left')[cols]

cols.append('population_85'); cols.append('p_change_85')
df1 = df1.merge(population_85, left_on='Year', right_on = 'year', how='left')[cols]

cols.append('co2_26')
cols.append('co2_change_26')
df1 = df1.merge(co2_26, left_on='Year', right_on = 'year', how='left')[cols]

cols.append('co2_85')
cols.append('co2_change_85')
df1 = df1.merge(co2_85, left_on='Year', right_on = 'year', how='left')[cols]

In [25]:
df1.to_csv('all_data.csv', index = False)